.game{
  width: 100%;
  height: 100vh;
  position: relative;
}

.gameContainer{
  height: inherit;
  width: inherit;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

.gameBackground{
  position: absolute;
  height: inherit;
  width: inherit;
}

.gameCockpit{
  width: inherit;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.gameChoices{
  color: white;
  padding: 20px;
  position: absolute;
  width: 387px;
  height: 200px;
  bottom: 25%;
  right: 5%;
  background-image: url(../img/screen.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.gameChoice{
}

.gameChoices>button{
  cursor: pointer;
  color: white;
  background: none;
  border: 1px solid white;
  border-radius: 10px;
  padding: 3% 5%;
}

.gameChoice1{

}

.gameTextContainer{
  position: absolute;
  bottom: 0;
  width: inherit;
  height: 20vh;
  background: rgba(100, 100, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.gameText{

}

.gameTextImg{
  position: absolute;
  bottom: 100%;
  left: 5%;
  height: 100%;
}
