@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body{
  font-family: 'Open Sans', sans-serif;
}

.start, .end{
  width: 100%;
  height: 100vh;
  position: relative;
}

.startInput, .endSumup{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  height: 10%;
  padding: 1%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  border: 2px solid black;
  border-radius: 10px;
}

.story{
  font-size: 1.2rem;
  width: 100%;
  height: 100vh;
  position: relative;
}

.storyContainer{
  height: inherit;
  width: inherit;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

.storyBackground{
  position: absolute;
  height: inherit;
  width: inherit;
}

.storyBackAnim{
  position: absolute;
  height: inherit;
  width: inherit;
  background-image: url(../img/stars.png);
  background-size: cover;
}

@keyframes slidein {
  from {
    transform: translate(0, 0);
    height: 5vh;
    width: 5vh;
  }

  to {
    transform: translate(-100vw, 20vh);
    height: 100vh;
    width: 100vh;
  }
}

.storyBackAnim::after{
  content: '';
  position: absolute;
  transform: translate(-100vw, 20vh);
  top: 40%;
  left: 40%;
  height: 100vh;
  width: 100vh;
  border-radius: 50%;
  background: yellow;
  animation: 20s linear slidein;
}

@keyframes slidein2 {
  from {
    transform: translate(0, 0);
    height: 1vh;
    width: 1vh;
  }

  to {
    transform: translate(-10vw, 2vh);
    height: 10vh;
    width: 10vh;
  }
}

.storyBackAnim::before{
  content: '';
  position: absolute;
  transform: translate(-10vw, 2vh);
  top: 45%;
  left: 50%;
  height: 10vh;
  width: 10vh;
  border-radius: 50%;
  background: darkblue;
  animation: 20s linear slidein2;
}

.storyCockpit{
  width: inherit;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.storyChoices{
  color: white;
  padding: 20px;
  position: absolute;
  width: 387px;
  height: 200px;
  bottom: 25%;
  right: 5%;
  background-image: url(../img/screen.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.storyChoice{
  text-align: center;
}

.storyChoices>button{
  cursor: pointer;
  color: white;
  background: none;
  border: 1px solid white;
  border-radius: 10px;
  padding: 3% 5%;
}

.storyChoice1{

}

.storyTextContainer{
  position: absolute;
  bottom: 0;
  width: inherit;
  height: 20vh;
  background: rgba(100, 100, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.storyWho{
  position: absolute;
  bottom: 15vh;
  left: 7%;
}

.storyText{
  line-height: 1.6rem;
  max-width: 80%;
}

.storyTextImg{
  position: absolute;
  bottom: 100%;
  left: 5%;
  height: 100%;
}

@keyframes slidein3 {
  from {
    bottom: 100vh;
  }

  to {
    bottom: 0;
  }
}

@keyframes slidein4 {
  from {
    bottom: 0;
  }

  to {
    bottom: 100vh;
  }
}

.storyImg{
  position: absolute;
  width: inherit;
  height: inherit;
  bottom: 0;
  left: 0;
}

.storyShutter{
  /* z-index: -1; */
  animation: 3s linear slidein3;
}

.storyShutterOver{
  animation: 3s linear slidein4;
}
